[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alerta-server = {extras=["postgres"], git = "https://github.com/datadope-io/alerta.git"}
"celery[redis]" = "~=5.2.7"
alerta = "==8.5.1"  # Client. Needed for periodic background tasks
requests = "*"
python-dateutil = "*"
python-ldap = "*"

[dev-packages]

[requires]
python_version = "3.10"
